* {
    box-sizing: border-box;
}

:root {
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Overlay: hsla(198, 38%, 5%, 0.865);
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}
.app {
    height: 100vh;
    margin: auto;
}

a {
    text-decoration: none;
}

/* all flexbox items */
header,
button,
.menu-container,
.cart-container,
.carousel-container,
.add-more-item-container,
.price-container,
.cartItem-container{
    display: flex;
    align-items: center;
}

header {
    padding: 20px;
    background-color: var(--White);
    height: 80px;
    margin-bottom: -80px;
}

/* cart setup */
.cart-container {
    margin-left: auto;
    gap: 30px;
}

.cart-container-top {
    background-color: var(--White);
    height: max-content;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    border-radius: 10px;
    padding: 20px 0 0;
    z-index: 3;
    -moz-box-shadow: 0px 12px 32px 2px rgba(184,173,173,0.75);
    -webkit-box-shadow: 0px 12px 32px 2px rgba(184,173,173,0.75);
    box-shadow: 0px 12px 32px 2px rgba(184,173,173,0.75);
    
}

.cart-container-top h3 {
    margin: 0;
    padding: 0px 0 25px 20px;
}

.cart-container-top .line {
    border: 1px solid var(--Grayish-blue);
}

.cartItem-container-main {
    padding: 20px 20px 0;
}

.cartItem-container {
   gap: 10px;
   margin-bottom: 20px;
}
.cartItem-container > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}
.cart-price-container p, 
.cart-price-container span {
    margin: 0;
    font-size: 18px;
    color: var(--Dark-grayish-blue);
}
.cart-price-container p {
    padding-bottom: 6px;
}
.cart-price-container .increase-price {
    font-weight: 700;
    color: var(--Black);
}
.cartItem-container-main .delete-icon {
    height: 18px;
    width: 18px;
    margin-left: auto;
}
.logo {
    align-self: center;
    padding-left: 15px;
    padding-bottom: 3px;
    width: 80%;
}
.cart-count-container {
    position: relative;
}
.count-cart-item {
    position: absolute;
    top: -7px;
    left: 8px;
    background-color: var(--Orange);
    color: var(--White);
    padding: 2px;
    width: 20px;
    height: 15px;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
}

/* navBar setup */
.hero {
    height: 35px;
    padding-bottom: 4px;
}
.product-img--carousel-container
.nav-overlay, .nav-bar {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    z-index: 5;
}

.nav-overlay {
    background:  var(--Overlay);
    display: none;
}

.nav-overlay.show {
    display: block;
}

.nav-bar {
    background-color: var(--Light-grayish-blue);
    right: unset;
    width: 60%;
    padding: 20px;
}

.nav-bar a {
    display: block;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 700;
    color: var(--Black);
}

.nav-bar a:nth-of-type(1){
    margin-top: 40px;
}

.close-menu-icon {
    padding-top: 10px;
}

/* main setup */
.product-image-container,
.img-container {
    height: 300px;
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;

}
.main {
    margin-top: -80px;
}

.products-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail-container{
    width: 80px;
    height: 80px;
    border-radius: 7px;
    display: flex;
    position: relative;
    display: inline-block;
    margin: 0 ;

}
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.next-btn-container {
    justify-content: space-between;
    padding: 0 40px;
}

.back-btn, .next-btn {
    background-color: var(--White);
    position: absolute;
    top: 45%;
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 50%;
    margin: 0 20px;
    z-index: 2;
}

.next-btn {
    right: 0;
}

.main-item-container {
    padding: 20px;
}

.main-item-container > span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: var(--Orange);
    font-size: 20px;
}

.main-item-container p {
    color: var(--Dark-grayish-blue);
    line-height: 150%;
    font-size: 16px;
}

.price-container span {
    padding: 3px 7px;
    margin-left: 15px;
    background-color: var(--Pale-orange);
    color: var(--Orange);
    border-radius: 8px;
    font-weight: 700;
}

.price-container p {
    margin-left: auto;
    text-decoration: line-through;
}

.add-more-item-container {
    justify-content: space-between;
    background-color: var(--Light-grayish-blue);
    padding: 20px;
    margin: 5px 0 20px;
    border-radius: 5px;
}

button {
    width: 100%;
    justify-content: center;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--Orange);
    font-weight: 700;
    color: var(--White);
    box-shadow: 0px 15px 16px 0px var(--Pale-orange);
}
.checkout-btn {
    display: inline-block;
    width: 100%;
}

button > img {
    padding-right: 10px;
    height: 24px;
}

/* product image overlay */
.image-modal-container{
    display: none;
    position: absolute;
    position: fixed;
    background-color: var(--Overlay);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: 10;
}


.carousel-container {
    display: none;
}
.thumbnail-container {
    height: 80px;
    width: 80px;
}

@media (min-width: 768px) {
    button,
    .thumbnail,
    .products-image,
    .plus-icon,
    .cart-container,
    .overlay-close-icon,
    a{
        cursor: pointer;
    }

    header {
        height: 80px;
        padding: 40px 0;
        max-width: 900px;
        margin: auto;
        border-bottom: 1px solid var(--Grayish-blue);
    }

    .hero {
        height: 50px;
        padding-bottom: 8px;
    }
    .hero:hover {
        border: 1.5px solid var(--Orange);
        padding: 0;
        margin: 1px;
        border-radius: 50%;
        height: 40px;
    }

    .menu-icon {
        display: none;
    }

    .add-to-cart-btn-container,
    .product-image-container {
        display: flex;
        align-items: center;
    }

    .product-img--carousel-container {
        margin: auto;

    }
    .product-image-container{
        justify-content: center;
        width: 100%;
        max-width: 860px;
        margin: 80px auto;
        gap: 70px;
        z-index: 5;
        height: 100%;
    }

    .back-btn, .next-btn,
    .close-menu-icon {
        display: none;
    }

    .main-item-container > span {
        padding: 0;
        font-size: 10px;
    }

    .products-image {
        width: 384px;
        border-radius: 15px;
    }

    .add-to-cart-btn-container {
        gap: 20px;
    }

    .add-more-item-container {
        width: 40%;
        padding: 12px 15px;
        border-radius: 8px;
    }

    .main-item-container .description{
        font-size: 14px;
        margin: 0;
    }

    button {
        width: 60%;
        margin-left: auto;
        padding: 11px 15px;
        font-size: 14px;
    }

    button > img {
        height: 18px;
    }

    .selected {
        border: 3px solid var(--Orange);
    }

    .thumbnail-container:hover:before,
    .selected:before{
        content: '';
        position: absolute;
        background-color: #d0d6e1a3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        border-radius: 5px;
    }

    .imageOverlay{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        height: 100vh;
        width: 100%;
    }
    .desktop-modal {
        width: 390px;
        height: 100%;
        position: relative;
        padding: 0;
        margin: auto ;
    }
    .overlay-close-icon {
        position: absolute;
        top: 63px;
        right: 8px;
    }
    .overlay-image{
        width: 100%;
        height: 350px;
        border-radius: 8px;
        margin: 55px auto 0;
    }

    .overlay-back-btn,
    .overlay-next-btn {
        position: absolute;
        top: 42%;
        height: 40px;
        width: 40px;
        z-index: 3;
        margin-left: -20px;
        background-color: var(--White);
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
    }

    .overlay-next-btn {
        margin-left: 368px;
    }

    .nav-overlay, .nav-bar {
        visibility: hidden;
        background: unset;
        display: inline-block;
        margin: auto;
        bottom: unset;
        right: unset;
        left: unset;
        top: unset;
        position: unset;
        min-height: unset;
    }

    .menu-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        order: -1;
        padding: 0;
    }

    .nav-bar {
        order: 2;
        color: var(--Black);
        visibility: visible;
        width: 100%;
        margin-left: 10px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-bar a {
        margin: 0 10px;
        font-size: 12px;
        font-weight: 400;
        color: var(--Dark-grayish-blue);
        position: relative;
    }
    .nav-bar a:nth-of-type(1){
        margin-top: 0px;
    }
    .nav-bar a:hover{
        color: var(--Very-dark-blue);
    }
    .nav-bar a:hover:after  {
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--Orange);
        bottom: 0;
        margin: auto;
    }
    .close-menu-icon {
        display: none;
    }
    .cart-container-top {
        width: 320px;
        left: 700px;
        top: 68px;
        margin-left: auto;
        z-index: 6;
        -moz-box-shadow: 0px 12px 32px 2px rgba(184,173,173,0.75);
        -webkit-box-shadow: 0px 12px 32px 2px rgba(184,173,173,0.75);
        box-shadow: 0px 12px 32px 2px rgba(184,173,173,0.75);
    }
    .cart-price-container p,
    .cart-price-container span{
        font-size: 14px;
    }
    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin: 20px  auto 0;
    }

    .desktop--view {
        display: block;
    }
    .main {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .product-image-container {
      margin: 80px auto;
    }
    .main {
        margin: 0;
    }
}







